services:
  prefect:
    image: prefecthq/prefect:2-latest
      #image: prefecthq/prefect:2.20-python3.10
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      pgbouncer:
        condition: service_healthy
    environment:
      PREFECT_API_URL: "http://0.0.0.0:4200/api"
      PREFECT_API_DATABASE_CONNECTION_URL: "postgresql+asyncpg://flint:MyFlintPassword123@pgbouncer_pooler:6432/prefect2"
      WEB_CONCURRENCY: 1
      PREFECT_SERVER_API_KEEPALIVE_TIMEOUT: 90
      PREFECT_SQLALCHEMY_POOL_SIZE: 150
      PREFECT_SQLALCHEMY_MAX_OVERFLOW: 350
      PREFECT_API_DATABASE_TIMEOUT: 120
      PREFECT_SERVER_API_HOST: 0.0.0.0
    ports:
      - "4200:4200"
    networks:
      - app-network
    command: prefect server start --host 0.0.0.0 
        
  postgres:
    image: postgres:16-alpine
    restart: always
    container_name: postgres_db
    environment:
      POSTGRES_USER: flint 
      POSTGRES_PASSWORD: MyFlintPassword123
      POSTGRES_DB: prefect2
      # Important for compatibility with default PgBouncer settings
      POSTGRES_HOST_AUTH_METHOD: md5
      POSTGRES_INITDB_ARGS: '--auth=md5'
    volumes:
      - ./database/data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U flint -d prefect2"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgbouncer:
    image: edoburu/pgbouncer:latest
    container_name: pgbouncer_pooler
    restart: always
    ports:
      - "6432:6432" # Map PgBouncer port to host
    volumes:
      - ./pgbouncer/conf/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini
      - ./pgbouncer/conf/userlist.txt:/etc/pgbouncer/userlist.txt
    environment:
      DB_USER: flint
      DB_PASSWORD: MyFlintPassword123
      DB_HOST: postgres_db
      DB_PORT: 5432
      POOL_MODE: transaction # Recommended for most use casesi
      PGUSER: flint
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      # This may not tbe the best health check. The pg_isready program is not in this container. 
      # Specific checks can be made with: docker compose exec pgbouncer some_program -args ... 
      #test: ["CMD-SHELL", "PGPASSWORD=MyFlintPassword123 psql -h localhost -p 6432 -U flint -d prefect2 -c 'SELECT 1' || exit 1"]
      test: ['CMD', 'sh', '-c', 'echo dummy']
      interval: 3s
      timeout: 3s
      retries: 1
      start_period: 20s

networks:
  app-network:
    driver: bridge

volumes:
  database-data:


